<div class='mt-3'>
  <% @comments.each do |comment| %>
    <div class='d-flex gap-2 align-items-start'>
      <%= image_tag "#{comment.user.photo}", class:'rounded-circle img-thumbnail mb-3', style:"max-width:5%" %>
      <p class='w-75'>
        <span class='fw-bold'> <%=comment.user.name%>:</span>
        <%= comment.content %>
      </p>
    </div>
  <% end %>
</div>
