<h1 class='mb-5'>Publicaciones de mininos</h1>
<div id="posts" class='d-flex flex-column gap-5'>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<%= link_to "New post", new_post_path %>
