<span class="badge text-bg-danger me-">1 - Me gusta</span>
<span class="badge text-bg-danger mb-2">0 - No me gusta</span>
<%= render @post %>
<div class="d-flex gap-1 my-3">
  <% Post::Kinds.each do |kind| %>
    <%= button_to "#{Post::KindsSpanish[kind]}",
new_user_reaction_path(post_id: @post.id, reaction_type:
"post", kind: kind), class:'btn btn-warning btn-sm', method: :post %>
  <% end %>
</div>
<%= render 'comments/form' %>
<div>
  <%#= link_to "Edit this post", edit_post_path(@post) %>
  <%#= link_to "Back to posts", posts_path %>
  <%#= button_to "Destroy this post", @post, method: :delete %>
  <%= render 'comments/post_comments' %>
</div>
